<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <!--semantic-ui-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link th:href="@{/css/qinstyle.css}" rel="stylesheet">
</head>
<body>

<!--主容器-->
<div class="ui container">

    <div class="ui segment" id="index-header-nav" th:fragment="nav-menu">
        <div class="ui secondary menu">
            <a class="item"  th:href="@{/index}">首页</a>

            <!--登录注销-->

            <div class="right menu">
                <!--未登录-->
                <div sec:authorize="!isAuthenticated()">
                    <a class="item" th:href="@{/toLogin}">
                        <i class="address card icon"></i> 登录
                    </a>
                </div>

                <!--登录了：显示注销，用户名-->
                <div sec:authorize="isAuthenticated()">
                    <a class="item">
                        用户名：<span sec:authentication="name"></span>
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="item" th:href="@{/logout}">
                        <i class="sign-out icon"></i> 注销
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment" style="text-align: center">
        <h3> 帝豪会所 </h3>
    </div>

    <div>
        <br>
        <div class="ui three column stackable grid">

            <div class="column">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">游客</h5>
                            <hr>
                            <div><a th:href="@{/tourist/1}"><i class="bullhorn icon"></i> 提前预约 </a></div>
                            <div><a th:href="@{/tourist/2}"><i class="bullhorn icon"></i> 限时8小时 </a></div>
                            <div><a th:href="@{/tourist/3}"><i class="bullhorn icon"></i> 免费茶水 </a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" sec:authorize="hasRole('user')">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">普通用户</h5>
                            <hr>
                            <div><a th:href="@{/user/1}"><i class="bullhorn icon"></i> 通普包间 </a></div>
                            <div><a th:href="@{/user/2}"><i class="bullhorn icon"></i> 高速网络 </a></div>
                            <div><a th:href="@{/user/3}"><i class="bullhorn icon"></i> 免费停车 </a></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column" sec:authorize="hasRole('vip')">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">普通会员</h5>
                            <hr>
                            <div><a th:href="@{/vip/1}"><i class="bullhorn icon"></i> 贵宾包间 </a></div>
                            <div><a th:href="@{/vip/2}"><i class="bullhorn icon"></i> 豪华套房 </a></div>
                            <div><a th:href="@{/vip/3}"><i class="bullhorn icon"></i> 健身中心 </a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" sec:authorize="hasRole('svip')">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">黄金会员</h5>
                            <hr>
                            <div><a th:href="@{/svip/1}"><i class="bullhorn icon"></i> 钻石包间 </a></div>
                            <div><a th:href="@{/svip/2}"><i class="bullhorn icon"></i> 总统套房 </a></div>
                            <div><a th:href="@{/svip/3}"><i class="bullhorn icon"></i> 露天泳池 </a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>


<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/semantic.min.js}"></script>

</body>
</html>